@media screen and (max-width: 375px) {
    .d-flex {
        position: absolute;
        top: 90px;
        left: 10px;
        padding-right: 5px;
    }
    
    #content-jewelry-list {
        margin-top: 50px;
    }

    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }
    .dropdown-menu {
        width: auto;
    
    }

    #basket_button {
        left: 3px;
    }

    #order_form {
        left: 15px;
        width: 100%;
        top: 125px;
        margin-right: 15px;
        max-height: 50%;
        overflow-y: auto;
    }

    #carouselExampleIndicators {
        width: 80%;
        left: 2px;
        margin-left: 20px;
    }

    .descriptionCard {
        top: 80%;
        width: auto;
        margin-left: 75px;
        
    }

    #content-jewelry-list {
        padding-left: 5%;
      }
}

@media screen and (width > 319px) and (width < 321px) {
    .descriptionCard {
        top: 10%;
        width: auto;
        margin-left: 75px;
        
    }
    .dropdown-menu {
        width: auto;
    
    }
}

@media screen and (max-width: 414px) and (width > 375px) {
    .d-flex {
        position: absolute;
        top: 90px;
        left: 10px;
        padding-right: 5px;
    }
    .dropdown-menu {
        width: auto;
    
    }
    
    #content-jewelry-list {
        margin-top: 50px;
    }

    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }

    #basket_button {
        left: 3px;
    }

    #order_form {
        left: 15px;
        width: 100%;
        top: 125px;
        margin-right: 15px;
        max-height: 50%;
        overflow-y: auto;
    }

    #carouselExampleIndicators {
        width: 80%;
        left: 2px;
        margin-left: 20px;
    }

    .descriptionCard {
        top: 75%;
        width: auto;
        margin-left: 75px;
        
    }

    #content-jewelry-list {
        padding-left: 8%;
      }
}

@media screen and (width > 427px) and (width < 429px){
    .d-flex {
        position: absolute;
        top: 90px;
        left: 10px;
        padding-right: 5px;
    }
    .dropdown-menu {
        width: auto;
    
    }
    
    #content-jewelry-list {
        margin-top: 50px;
    }

    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }

    #basket_button {
        left: 3px;
    }

    #order_form {
        left: 15px;
        width: 100%;
        top: 125px;
        margin-right: 15px;
        max-height: 50%;
        overflow-y: auto;
    }

    #carouselExampleIndicators {
        width: 80%;
        left: 2px;
        margin-left: 20px;
    }

    .descriptionCard {
        top: 90%;
        width: auto;
        margin-left: 75px;
        
    }

    #content-jewelry-list {
        padding-left: 8%;
      }
}

@media screen and (max-width: 820px) and (width > 414px) {
    .d-flex {
        position: absolute;
        top: 90px;
        left: 10px;
        padding-right: 5px;
    }
    .dropdown-menu {
        width: auto;
    
    }
    
    #content-jewelry-list {
        margin-top: 50px;
    }

    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }

    #basket_button {
        left: 3px;
    }

    #order_form {
        left: 15px;
        width: 100%;
        top: 125px;
        margin-right: 15px;
        max-height: 50%;
        overflow-y: auto;
    }

    #carouselExampleIndicators {
        width: 80%;
        left: 2px;
        margin-left: 20px;
    }
    
    .descriptionCard {
        top: 70%;
        left: 20%;
    }

    #order_form {
       width: 500px;
       left: 55%;
    }
    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }
    
}

@media screen and (width > 767px) and (width < 769px) {
    .descriptionCard {
        top: 60%;
        left: 20%;
    }
}

@media screen and (width > 911px) and (width < 913px) {
    .descriptionCard {
        top: 50%;
        left: 20%;
    }

    #order_form {
        width: 500px;
        left: 55%;
     }

     #dropdown-nav {
        position: relative;
        z-index: 1000;
     }
}


@media screen and (width > 539px) and (width < 541px) {
    .d-flex {
        position: absolute;
        top: 90px;
        left: 10px;
        padding-right: 5px;
    }
    
    #content-jewelry-list {
        margin-top: 50px;
    }

    #dropdown-nav {
        position: relative;
        z-index: 1000;
    }

    #basket_button {
        left: 3px;
    }

    #order_form {
        left: 15px;
        width: 100%;
        top: 125px;
        margin-right: 15px;
        max-height: 50%;
        overflow-y: auto;
    }

    #carouselExampleIndicators {
        max-width: 80%;
        left: 2px;
        margin-left: 20px;
    }

    .descriptionCard {
        top: 80%;
        width: auto;
        margin-left: 75px;
        
    }
}

@media screen and (width > 359px) and (width < 361px) {
    .descriptionCard {
        top: 60%;
        width: auto;
        margin-left: 75px;
        
    }

    
}

@media screen and (width > 1023px) and (width < 1025px) {

    .descriptionCard {
        left: 55%;
        top: 10%;
    }
    
    #order_form {
        width: 500px;
        left: 55%;
     }
}

@media screen and (width > 319px) and (width < 321px) {
    .descriptionCard {
        top: 90%;
        width: auto;
        margin-left: 75px;
        
    }
}

@media screen and (width > 413px) and (width < 415px) and (height > 735px) and (height < 737px) {
    .descriptionCard {
        top: 70%;

    }
}



@media screen and (width > 833px) and (width < 835px) {
    .descriptionCard{
        top: 60%;
        left: 20%;
    }
}