#navbar {
    display: flex;
    height: 75px;
    width: 100%;
    
}

.d-flex {
    display: inline-block;
    position: absolute;
    right: 0%;
    margin: 0 auto;
}

.cat {
    display: inline-block;
    position: relative;
    left: -5%;
    right: 0;
    margin: 0 auto;
    transition: 1s;
}

.cat:hover {
    transform: scale(1.1);
}

.dropdown-menu li {
    padding-left: 20px;
}

