#navbar {
    display: flex;
    height: 75px;
    width: 100%;
    font-family: 'Poiret One', cursive;
    
    
}

.d-flex {
    display: inline-block;
    position: absolute;
    right: 0%;
    margin: 0 auto;
}

.cat {
    display: inline-block;
    position: absolute;
    left: -5%;
    right: 0;
    margin: 0 auto;
    transition: 1s;
}

.cat:hover {
    transform: scale(1.1);
}

.dropdown-menu li {
    position: relative;
    padding-left: 20px;
}

.dropdown-menu {
    width: 500px;
    

}

#dropdown-nav {
    font-size: 20px;
    
}

