.carousel-control-prev-icon {
    background-color: brown;
    border-radius: 30%;
}

.carousel-control-next-icon {
    background-color: brown;
    border-radius: 30%;
}

#carouselExampleIndicators {
    position: absolute;
    margin-top: 52px;
    left: 100px;
    width: 400px;
    
}

#order_form {
    position: fixed;
    left: 76%;
    top: 30%;
    background-color: cadetblue;
    padding: 30px;
    border-radius: 5%;
    z-index: 100;
    display: block;
    overflow-y: auto;
    max-width: 350px;
    max-height: 500px;
    /* 
    Дописать max-hight и max-width для десктопа
    */
}

#mark {
    color: red;
    margin-right: 5px;
}

.descriptionCard {
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    width: 30%;
    margin-top: 20px;
}

.carousel-inner img {

    margin-top: 25px;
}

