.card {
  transition: 1s;
  display: flexbox;
  width: 20rem;
  margin: 25px;
  float: right;
  line-height: 55px;
}

.card:hover {
  transform: scale(1.1);
}

#one {
  float: none;
}

.card-img-top {
  width: 200px;
  height: 200px;
}

.cat { /* Картинка */
  width: 50px;
  margin-left: 15px;
}

.navbar-brand {
  left: 50px;
}
