.card {
  transition: 1s;
  display: flexbox;
  width: 18rem;
  margin: 25px;
  float: left;
  line-height: 55px;
}

.card:hover {
  transform: scale(1.05);
}
#mini_jewelry {
  transition: none;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0px;
  
}

#mini_icon {
  width: 10%;
  margin-right: 15px;
  border-radius: 50%;
}

#mini_jewelry_body {
  margin: 0px;
  padding-left: 15px;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
}

#cross {
  margin-left: 15px;
  color: red;
}

#mini_jewelry:hover {
  transform: none;
}
#one {
  float: none;
}

.card-img-top {
  width: 100px;
}

.body {
  position: relative;
}

#basket_button {
  position: fixed;
  border-radius: 100%;
  left: 92%;
  top: 90%;
}

#plus_button {
  border-radius: 100%;
  position: relative;
}

#plus_button svg {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#content-jewelry-list {
  padding-left: 15%;
}
